
/* mobile Device responsive */
@media screen and (min-width:0px)  and (max-width:576px)  {

  .mobile_none{
    display: none;
  }


  /* mobile_navbar */

  .mobile_navbar{
    padding: 1rem .4rem;
  }

  /* .Extra_feature */
  .Extra_feature{
    left: 11rem;
  }

  /* .about_container h2 */
  .about_container h2{
    font-size: 2.3em;
  }

  .about_content{
    max-width: 80%;
  }

  /* .blog_main */
.blog_main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.blog{
  padding: .4rem;
}


/* techwave */
.tech_container{
  display: grid;
  grid-template-columns: repeat(1 , 1fr);
  justify-content: center;
  align-content: center;
  padding: 2rem;
  gap: 1rem;
}

.box_1 ,  .box_5{
  grid-row: span 1;
  
}

.box_2 , .box_3 , .box_4 {
   grid-column: span 1;
}


.frame_container{
  display: grid;
  grid-template-columns: repeat(1 ,1fr);
  padding: 1rem  2rem;
}

}


/* tab device responsive */


@media screen and (min-width:576.2px) and (max-width:992px) {
.tab_none{
    display: none;
  }

  .mobile_navbar{
    padding: 1rem .4rem;
  }
  

  .blog_main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.blog{
  padding: .5rem;
}


/*  */

.tech_container{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  justify-content: center;
  align-content: center;
  padding: 2rem;
  gap: 1rem;
}

.box_1 ,  .box_5{
  grid-row: span 1;
  
}

.box_2 , .box_3 , .box_4 {
   grid-column: span 1;
}



/*  */

.frame_container{
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  padding: 1rem 2rem;

}





  
}


/* full width Device responsive */

@media screen and (min-width:992.2px) and (max-width:2000px) {
.dektop_none{
    display: none;
  }
  
  
}