
/* mobile Device responsive */
@media screen and (min-width:0px)  and (max-width:576px)  {

  .mobile_none{
    display: none;
  }

  /* .Extra_feature */
  .Extra_feature{
    left: 11rem;
  }

  /* .about_container h2 */
  .about_container h2{
    font-size: 2.3em;
  }

  .about_content{
    max-width: 80%;
  }

  /* .blog_main */
.blog_main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.blog{
  padding: .4rem;
}


}


/* tab device responsive */


@media screen and (min-width:576.2px) and (max-width:992px) {
.tab_none{
    display: none;
  }
  

  .blog_main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.blog{
  padding: .5rem;
}
  
}


/* full width Device responsive */

@media screen and (min-width:992.2px) and (max-width:2000px) {
.dektop_none{
    display: none;
  }
  
  
}