
/* mobile Device responsive */
@media screen and (min-width:0px)  and (max-width:576px)  {

  .mobile_none{
    display: none;
  }


  /* mobile_navbar */

  .mobile_navbar{
    padding: 1rem .4rem;
  }

  /* .Extra_feature */
  .Extra_feature{
    left: 11rem;
  }

  /* .about_container h2 */
  .about_container h2{
    font-size: 2.3em;
  }

  .about_content{
    max-width: 80%;
  }

  /* .blog_main */
.blog_main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.blog{
  padding: .4rem;
}


/* techwave */
.tech_container{
  display: grid;
  grid-template-columns: repeat(1 , 1fr);
  justify-content: center;
  align-content: center;
  padding: 2rem;
  gap: 1rem;
}

.box_1 ,  .box_5{
  grid-row: span 1;
  
}

.box_2 , .box_3 , .box_4 {
   grid-column: span 1;
}


.frame_container{
  display: grid;
  grid-template-columns: repeat(1 ,1fr);
  padding: 1rem  2rem;
}


/* meet_container */

.meet_container{
  margin: 2rem 1.9rem;
  column-gap: 2rem;
  background-color: #351165;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  column-gap: .4rem;

}

.meet_content{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.meet_icons{
  gap: .4rem;
}


/* footer section */

.footer h3{
  font-size: 1.8rem;
}

.footer_icon{

  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  gap: 1rem 0rem;
}



.footer_icon a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 0rem ;
  text-align: center;
  
}

.icon_item{
  font-size: 1rem;
  margin-right: 0px;
  
}

.icon_item:hover{

  color: #ff0015;
  
}


.copy_wright{
  margin: 1rem;
  color: #FAFAFA;
  border-bottom:5px solid #603159 #250D44;
  padding: 2px;
  text-align: center;
  
}

}


/* tab device responsive */


@media screen and (min-width:576.2px) and (max-width:992px) {
.tab_none{
    display: none;
  }

  .mobile_navbar{
    padding: 1rem .4rem;
  }
  

  .blog_main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.blog{
  padding: .5rem;
}


/*  */

.tech_container{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  justify-content: center;
  align-content: center;
  padding: 2rem;
  gap: 1rem;
}

.box_1 ,  .box_5{
  grid-row: span 1;
  
}

.box_2 , .box_3 , .box_4 {
   grid-column: span 1;
}



/*  */

.frame_container{
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  padding: 1rem 2rem;

}


.meet_container{
  margin: 2rem 1.9rem;
  column-gap: 2rem;
  background-color: #351165;
  flex-direction: column;
  justify-content:flex-start;
  align-items: start;
  padding: 3rem 1rem;
  column-gap: 0rem .4rem;

}





.footer_icon{

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  gap: 1rem 0rem;
}

.footer_icon a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin-right: 0px;
  padding: 1rem;
  text-align: center;
  
}

.icon_item{
  font-size: 1.3rem;
  margin-right: 0px;
  gap: 0rem .5rem;
  
}

  
}


/* full width Device responsive */

@media screen and (min-width:992.2px) and (max-width:2000px) {
.dektop_none{
    display: none;
  }
  
  
}