/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* inter_font  */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* universal selector */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


/* root  */

:root {
  --primary-color: #1A0B2E;
  --secondary-color: #412567;
  --third-color:#00FF88;
}


/* shared */

/* btn */
.btn {
  border: none;
  padding: 16px 20px;
  font-size: 16px;
  background: linear-gradient(rgba(247, 233, 63, 1) 0%,
      rgba(251, 9, 180, 1) 51%,
      rgba(145, 0, 248, 1) 100%);

  border-radius: 10000px;
  color: white;
  font-weight: normal;
  cursor: pointer;
}

.btn:hover {

 background: linear-gradient(rgb(165, 151, 0) 0%,
      rgb(198, 0, 139) 51%,
      rgb(113, 0, 194) 100%);
  transition:.3s ease;
}


.btn_text {
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
}

.r_icons {
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
}


/* header section style */

.header_section {
  background: var(--primary-color);
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 12rem;

}

.nav_bar h2 {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.nav_bar h2>span {

  background: linear-gradient(rgba(247, 233, 63, 1) 0%,
      rgba(251, 9, 180, 1) 51%,
      rgba(145, 0, 248, 1) 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 2rem;

}

/* menu_list */

.menu_bar {
  display: flex;
  margin: 0 auto;

}

.menu_bar li {
  list-style: none;

}

.menu_bar a {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
}


/* mobile_navbar */
.mobile_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 2rem;

}


.nav_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_title h2 {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}

.nav_title h2>span {

  background: linear-gradient(rgba(247, 233, 63, 1) 0%,
      rgba(251, 9, 180, 1) 51%,
      rgba(145, 0, 248, 1) 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}

.open_img {
  width: 24px;
  margin-top: 5px;
}

.open_img img {
  width: 100%;
}



/* hero_section */

.hero_section {

  background-image: url(./assets/hero-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 120vh;


}


/* hero_container */

.hero_container {

  margin: 0 auto;
}


/* hero */
.hero {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(0, 40, 133) ;
   padding-top: 6rem;
   text-align: center;
   gap: 2rem 0rem;

}


.hero_img_container{

   background: linear-gradient(
    rgba(251, 9, 180, 1) 0%,
      rgba(145, 0, 248, 1) 51%,
      rgba(247, 233, 63, 1) 100%
   )
      ;
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
     
  }


  /* create hidden box */


  /* Extra_feature style */

  .Extra_feature{
    background: #00FF88;
    padding: 1rem 3rem;
    border: none;
    border-radius: 3rem;
    color: var(--primary-color);
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 15rem;
    text-align: center;
  }

  :hover.Extra_feature{
    transform:translate(30px)  ;
    background: linear-gradient(rgb(239, 7, 235) 0%, #4646f2 50% , #07ec40 100%);
   color: white;
   transition: .3s ease-in-out;
   cursor: pointer;
   text-transform: capitalize;  
   
  }


 .hero_img img{
    width: 100%;
  } 


  /* hero_content */

  .hero_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem 0rem;
  }

  .hero_content h3{ 
    font-size: 4rem;
    font-weight:800;
    color: white;
    letter-spacing: 3px;
  }


  .hero_content p{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
  }


/* hero_btn */

.hero_btn{
  display: flex;
  gap: 0rem 1rem;
  margin: 2rem 0rem;
}


.btn_0{
  border: none;
  padding: 16px 20px;
  font-size: 16px;
  background: linear-gradient(rgba(247, 233, 63, 1) 0%,
      rgba(251, 9, 180, 1) 51%,
      rgba(145, 0, 248, 1) 100%);
  border-radius: 10000px;
  color: white;
  font-weight: normal;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem .5rem;
}

.btn_one{
  border: none;
  padding: 16px 20px;
  font-size: 16px;
  background: var(--primary-color);
  border-radius: 10000px;
  color: white;
  font-weight: normal;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem .5rem;
  border: 1px solid var(--third-color);
  color: var(--third-color);
  
}

.btn_one:hover{
  background-color: rgba(244, 242, 242, 0.881);
  transition: .3s ease-in-out;
  color: black;
}



/* about_section style */

.about_section{
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.about_container{
  margin: 6rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   color: white;
}

.about_content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem 0rem;
}

.about_title > span{

    background: linear-gradient(rgb(250, 140, 250) 0%, rgb(142, 39, 2) 40%, rgb(255, 255, 8) 60%, rgb(0, 12, 146));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

  



.about_container h2{
  font-size: 4rem;
  font-weight: 800;
  color: white;

}

/* about_blog  */

.about_blog{
  margin: 0 auto;
}

.blog_main{
  margin: 4rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0rem 2rem;
}

.blog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem ;
  gap:1rem 0rem;
}

.blog h4{
  color: var(--third-color);
  font-size: 3rem;
  font-weight:black;
  text-transform: uppercase;
}





.blog p{
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 2rem;
}