/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* inter_font  */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* universal selector */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


/* root  */

:root{
  --primary-color:#1A0B2E;
  --secondary-color:#412567;
}


/* shared */

/* btn */
.btn{
  border: none;
  padding: 16px 20px;
  font-size: 16px;
background: linear-gradient(
   rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
);

border-radius: 10000px;
color: white;
font-weight: normal;
cursor: pointer;
}

.btn:hover{

 background: linear-gradient(
  rgba(247, 233, 63, 1) 0%, rgb(7 0 5) 51%, rgb(152 30 240) 100%);
transition: .3s ease-in-out;
}


.btn_text{
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
}

.r_icons{
  font-size: 16px;
  font-weight: lighter;
text-align: center;
}


/* header section style */

.header_section{
  background: var(--primary-color);
}

.nav_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 12rem;

}

.nav_bar h2{
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.nav_bar h2 > span{

  background: linear-gradient(
   rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
    
);

 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-weight: bold;
 font-size: 2rem;

}

/* menu_list */

.menu_bar{
  display: flex;
  margin: 0 auto;
  
}

.menu_bar li{
  list-style: none;
  
}

.menu_bar a{
  text-decoration: none;
  color: white;
 margin-right: 2rem;
 text-transform: capitalize;
 font-size: 1rem;
 font-weight: 400;
}


/* mobile_navbar */
.mobile_navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 2rem;
  
}


.nav_title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_title h2{
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}

.nav_title h2 > span{

  background: linear-gradient(
   rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
    
);

 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-weight: bold;
 font-size: 1.5rem;
 margin: 0;
}

.open_img{
  width: 24px;
  margin-top:5px;
}

.open_img img{
  width: 100%;
}